@model IEnumerable<EuropeWeather.DataAccess.WeatherConditions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>External ID
        </th>
        <th>Description</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExternalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeatherConditionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeatherConditionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeatherConditionId })
        </td>
    </tr>
}

</table>
