@model IEnumerable<EuropeWeather.DataAccess.Cities>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>City</th>
        <th>External ID</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Country</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExternalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Countries.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CityId })
        </td>
    </tr>
}

</table>
